& when (@media-common = true) {
    .custom_blocks {
        width: 100%;
        border: 4px solid @color-blue3;
        background: @color-gray-light1;
        margin: 1em auto;
        text-align: center;
        padding: 2em;
        box-sizing: border-box;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @custom_screen_m) {
    .custom_blocks {
        width: 70%;
    }
}
